[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
textblob = "*"
nltk = "*"
swifter = "*"
lxml = "*"
beautifulsoup4 = "*"
plotly = "*"
matplotlib = "*"
streamlit = "*"
scikit-learn = "*"
joblib = "*"

[dev-packages]

[requires]
python_version = "3.13"
